services:
- type: redis
  name: scraper-redis
  plan: starter

- type: web
  name: scraper-web-app
  env: python
  buildCommand: "pip install -r requirements.txt"
  startCommand: "gunicorn --workers 4 app:app" 
  envVars:
    - key: REDIS_URL
      fromService:
        type: redis
        name: scraper-redis
    - key: FLASK_SECRET_KEY
      generateValue: true
    - key: PYTHON_VERSION
      value: 3.10.12

- type: worker
  name: scraper-celery-worker
  env: python
  buildCommand: "pip install -r requirements.txt"
  startCommand: "celery -A tasks.celery_app worker --loglevel=info"
  envVars:
    - key: REDIS_URL
      fromService:
        type: redis
        name: scraper-redis
    - key: PYTHON_VERSION
      value: 3.10.12
